.icon_logout{
    margin-left: 21px ;
}

.agendamento{
    display: relative;
    overflow: hidden;
    background-image: url("../assets/Background-flash tattoo.svg");
    padding-bottom: 5rem;
}

.background_image{

    align-items: center; 
}

.container_titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.agendamento-title{
    font-family: var(--fonte-secundaria);
    font-weight: bold;
    font-size: 48px;
    color: #ffffff;
    letter-spacing: 9.6px;
    margin: 110px 0 0 0;
}

.agendamento-text{
    font-family: var(--fonte-principal);
    font-weight: 900;
    font-size: 19px;
    color: #ffffffb4;
    letter-spacing: 1px;
    margin-top: 16px;
}

.containers_agendamento{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 32px;
    margin-top: 40px;
}

.container_ideia,
.container_agendar{
    width: 624px;
    height: 634px;
    background: #ffffff;
    border-radius: 24px;
    text-align: left;
}

.ideia-title{
    font-family: var(--fonte-principal);
    font-size: 24px;
    font-weight: 1000;
    letter-spacing: 1.2px;
    margin: 32px 0 24px 32px;
}

.label_descricao,
.label_primeira,
.label_alergia,
.label_referencia{
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.7px;
    margin: 0px 0 0px 32px;
}

.input_descrição{
    display: block;
    width: 525px;
    height: 122px;
    margin: 8px 0 -8px 32px;
    border-radius: 20px;
    border-style: groove;
    border-color: #b1b1b1;
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 500;
    resize: none;
    padding: 12px 16px;
}

.input_descrição:focus-within{
    font-family: var(--fonte-principal);
    font-size: 16px;
    outline: none;
    border-color: #b1b1b1;
}

.container_ideia_2{
    display: flex;
    gap: 16px;
    margin: 32px;
}

.container_rt{
    display: flex;
    flex-direction: column;
}

.label_regiao,
.label_tamanho{
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.7px;
    margin-bottom: 8px;
}

.input_regiao,
.input_tamanho{
    display: block;
    width: 237px;
    height: 45px;
    border-radius: 20px;
    border-style: groove;
    border-color: #b1b1b1;
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 500;
    resize: none;
    align-content: center;
    padding: 1px 16px;
    margin-bottom: -5px;
}

.input_regiao:focus-within,
.input_tamanho:focus-within{
    font-family: var(--fonte-principal);
    font-size: 16px;
    outline: none;
    border-color: #b1b1b1;
}

.opcoes_radio{
    display: flex;
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 560;
    margin: 8px 16px 24px 32px;
    gap: 10px;
}

.opcao_radio{
    display: flex;
    align-items: center;
}

.opcao_radio input[type="radio"]{
    cursor: pointer;
    accent-color: #91343A;  
    width: 16px;
    height: 16px;
}

.input_referencia{
    width: 382px;
    height: 50px;
    border-style: groove;
    border-color: #b1b1b1;
    border-radius: 20px;
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 500;
    resize: none;
    align-content: center;
    padding: 1px 16px;
    margin-top: 8px;
    margin-left: 32px;
}

.input_referencia:focus-within{
    font-family: var(--fonte-principal);
    font-size: 16px;
    outline: none;
    border-color: #b1b1b1;
}

.linha_referencia{
    display: flex;
    align-items: center;
    gap: 12px;
}

.upload-a{
    display: flex;           
    align-items: center;
    gap: 3px;
    justify-content: center;
    cursor: pointer;
    width: 129px;
    height: 50px;
    font-family: var(--fonte-principal);
    font-size: 16px;
    color: #ffffff;
    border: solid #91343A;
    border-radius: 20px;
    background-color: #91343A;
    margin-bottom: -10px;
}

.seta-upload{
    margin-right: 3px;
}

.agenda-title{
    font-family: var(--fonte-principal);
    font-size: 24px;
    font-weight: 1000;
    letter-spacing: 1.2px;
    margin: 32px 0 24px 32px;
}

.agenda-subtitle{
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.7px;
    margin: 0px 0 0px 32px;
}

.mini-agenda{
    margin-right: 8px;
}

.wrapper{
    margin: 16px 0 15px 169.5px;
}

.horario-title{
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.7px;
    margin: 0px 0 0px 32px;
}

.horarios_1,
.horarios_2{ 
    margin-left: 24px;
}

.btn_horario{
    cursor: pointer;
    width: 133.5px;
    height: 30px;
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    border-radius: 16px;
    border: solid #bbbbbb;
    border-width: 1px;
    border-radius: 20px;
    background-color: transparent;
    margin: 12px 0 0 8px;
}

.btn_horario.selected{
    background-color: #91343A;
    color: #fff;
}

.enviar_agendamento{
    cursor: pointer;
    width: 558px;
    height: 52px;
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    border-radius: 20px;
    border: solid #91343A;
    border-radius: 20px;
    background-color: #91343A;
    margin: 24px 0 0 32px;
}